.App {
  position: relative;
  width: 100vw;
  height: 150vh;
  /* min-height: 35rem;
  padding: 15rem 0; */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("./components/images/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.container {
  position: fixed;
  display: flex;
  width: 100%;
  /* padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto; */
}

.StarBoot {
  /* color: white; */
  min-height: 3.5rem;
  background-color: #fff;
  position: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  top: 0;
  right: 0;
  left: 0;
}

.apc {
  min-height: 3.5rem;
  position: relative;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}


.nav-item {
  margin-bottom: -1px;
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  list-style: none;
}

button {
  display: none;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
/* 
.closed {
  top: -200px;
  opacity: 0;
  transition: opacity 1s, top 1s;
}

.opened {
  top: 80px;
  opacity: 1;
  transition: opacity 1s, top 1s;
} */

/* @media (max-width: 700px) {
  ul {
    display: none;
  }


  .opened, .closed {
      opacity: 1;
      background-color: transparent;
      position: static;
      flex-direction: row;
      width: 70%;
    }
} */

@media (max-width: 1000px) {
  button {
    display: block;
    top: 100%;
    left: 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
}
